<h1>Add New Documentary films</h1>

<div class="container">
<%= form_with model: @documentary_film, url: documentary_films_path do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div>
    <%= form.label :synopsis %>
    <%= form.text_area :synopsis, class:"form-control" %>
  </div>

  <div>
    <%= form.label :director %>
    <%= form.text_field :director, class:"form-control" %>
  </div>

  <div>
    <%= form.submit "Add Movie", class:"btn btn-primary my-3"%>
  </div>
 
<% end %>
 </div>